<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Booking - Modify</title>
    <link rel="stylesheet" type="text/css" href="../stylesheets/style.css">
    <link rel="icon" type="image/x-icon" href="../images/GojoDev.png">
</head>

<body>
    <section id="welcome" class="section-borders">
        <a href="index.html">
            <img src="../images/GojoDev.png" id="banner-logo">
        </a>
        <h1 id="workshop"> Coding Lessons Workshop</h1>
        <nav>
            <a href="index"> Home </a>
            <a href="booking" id="selected"> Bookings </a>
            <a href="viewBookings"> View Bookings </a>
            <a href="about"> About </a>
            <a href="help"> Help </a>
        </nav>
    </section>

    <section id="booking_container">
        <section id="create_section">
            <h1 class="booking_title modify-colour">Modify</h1>
            <div class="booking_content modify-border" id="create_container">
                <form method="post" action="modifyDB/<%= bookings.id %>">
                    <input class="hide_input" id="whenBooked" name="whenBooked"></input>

                    <label> Name </label>
                    <input placeholder="firstName lastName" type="text" id="name" name="name" value="<%=bookings.name%>"
                        required><br>

                    <label> Email Address </label>
                    <input placeholder="example@gmail.com" type="text" id="email" name="email"
                        value="<%=bookings.email%>" required><br>

                    <label> Card Number </label>
                    <input placeholder="0000 0000 0000 0000" type="text" maxlength="19" id="cardNumber"
                        name="cardNumber" value="<%=bookings.cardNumber%>" required><br>

                    <label> Expiry Date </label>
                    <input placeholder="MM/YY" type="text" id="expiryDate" name="expiryDate"
                        value="<%=bookings.expiryDate%>" maxlength="5" required><br>

                    <label> cvv </label>
                    <input placeholder="000" maxlength="3" type="text" id="cvv" name="cvv" value="<%=bookings.cvv%>"
                        required><br>

                    <label> Date for Booking </label>
                    <input type="date" id="date" name="date" value="<%=bookings.date%>" required><br>

                    <label> Time for Booking </label>
                    <input type="time" id="time" name="time" value="<%=bookings.time%>" required><br>

                    <label for="skillLevel" id="skillLevel_text">SKill level: </label>
                    <select name="skillLevel" id="skillLevel" required>
                        <option value="Beginner" <%=bookings.skillLevel==='Beginner' ?'selected' : '' %> >Beginner
                        </option>
                        <option value="Intermediate" <%=bookings.skillLevel==='Intermediate' ?'selected' : '' %>
                            >Intermediate
                        </option>
                        <option value="Advanced" <%=bookings.skillLevel==='Advanced' ?'selected' : '' %>>Advanced
                        </option>
                    </select>
                    <br><br>
                    <input type="submit" value="Modify" class="modify_button" id="modify_button">
                    <br>
                    <input type="submit" value="Clear All" id="clear_all">
                </form>
            </div>
        </section>
    </section>
    <br>

    <section id="error_section">
        <div id="error_text">
            error text placeholder
        </div>
    </section>

    <br>

    <footer>
        <br>
        <a href="https://ko-fi.com/gojodev" target="_blank">
            <img src="../images/kofi.webp" class="bottom-images" alt="Support Me On Ko-Fi">
        </a>

        <a href="https://github.com/gojodev" target="_blank">
            <img src="../images/GitHub.webp" class="bottom-images" alt="GitHub">
        </a>

        <a href="https://www.linkedin.com/in/emmanuelk421" target="_blank">
            <img src="../images/LinkedIn.webp" class="bottom-images" alt="LinkedIn">
        </a>
    </footer>

    <script src="../javascripts/booking.js"></script>
</body>

</html>