<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>View Bookings</title>
    <link rel="stylesheet" type="text/css" href="../stylesheets/style.css">
    <link rel="icon" type="image/x-icon" href="../images/Nexus_Logo.webp">
</head>

<body>
    <section id="welcome" class="section-borders">
        <a href="index.html">
            <img src="../images/Nexus_Logo.webp" id="banner-logo">
        </a>
        <h1 id="workshop"> Coding Lessons Workshop</h1>
        <nav>
            <a href="index"> Home </a>
            <a href="booking"> Bookings </a>
            <a href="viewBookings" id="selected"> View Bookings </a>
            <a href="about"> About </a>
            <a href="help"> Help </a>
        </nav>
    </section>

    <br>
    <div id="booking_buttons_container">
        <div class="booking_buttons modify">
            Modify
        </div>

        <div class="booking_buttons deleteSome" id="delete">
            Delete Some
        </div>

        <div class="booking_buttons deleteAll" id="delete">
            Delete All
        </div>
    </div>
    <br>

    <table id="booking_details">
        <tr>
            <th class="key"> ID </th>
            <th class="key"> When Booked</th>
            <th class="key"> Name</th>
            <th class="key"> Email </th>
            <th class="key"> Card Number </th>
            <th class="key"> Expiry Date</th>
            <th class="key"> CVC </th>
            <th class="key"> Time </th>
            <th class="key"> Date </th>
            <th class="key"> skill_level </th>
        </tr>

        <!-- because we don't need user authenication or in other words a user and password there's no need to hide the the financial information 
                because security is not a prioty as it is not required due to hiding finanical information not being directly instrcuted 
                this same point extends to the database being on the localhost and not in a secure online server
            -->
        <% bookings.forEach(booking=> { %>
            <tr class="tr-hover" onclick="logBookingInfo(this)">
                <td>
                    <%= booking._id %>
                </td>
                <td>
                    <%= booking.when_booked %>
                </td>
                <td>
                    <%= booking.name %>
                </td>
                <td>
                    <%= booking.email %>
                </td>
                <td>
                    <%= booking.card_number %>
                </td>
                <td>
                    <%= booking.expiry_date %>
                </td>
                <td>
                    <%= booking.cvc %>
                </td>
                <td>
                    <%= booking.time %>
                </td>
                <td>
                    <%= booking.date %>
                </td>
                <td>
                    <%= booking.skill_level %>
                </td>
            </tr>
            <% }); %>
    </table>

    <br>

    <footer>
        <br>
        <a href="https://ko-fi.com/gojodev" target="_blank">
            <img src="../images/kofi.webp" class="bottom-images" alt="Support Me On Ko-Fi">
        </a>

        <a href="https://github.com/gojodev" target="_blank">
            <img src="../images/GitHub.webp" class="bottom-images" alt="GitHub">
        </a>

        <a href="https://www.linkedin.com/in/emmanuelk421" target="_blank">
            <img src="../images/LinkedIn.webp" class="bottom-images" alt="LinkedIn">
        </a>
    </footer>
    <script src="../javascripts/viewBookings.js"></script>
</body>

</html>